{% extends "base.html" %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Board of Appeal Coders!</h1>
      <p>This is a test site for various AI apps relating to Board of Appeal work.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Patent Classifier</h2>
        <p>Enter some text and have it classified by IPC class </p>
        <p><a class="btn btn-secondary" href="{{ url_for('classify') }}" role="button">Classify &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Draft Decision</h2>
        <p>Produce a draft decision. </p>
        <p><a class="btn btn-secondary" href="#" role="button">Draft &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Decision Search</h2>
        <p>Enter some text and find decisions related to it.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Search &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}